<section class="bandindexholder">
    <nav>
        <h2 class="pageheader">All the Bands</h2>
        <%= link_to "Add a New Band", new_band_url, class: "button" %>

    </nav>
    <section class = "bandindex">
        <ul>
            <% @bands.each do |band| %>
                <li>
                    <%= band.name %>
                    <%= band.id %>
                </li>
            <% end %>
        </ul>
    </section>
</section>