<header class="section-head">
    <ul class="section-head-links">
        <li> <div> World</div></li>
        <li> <div> San Francisco</div></li>
        <li> <div> New York</div></li>
        <li> <div> Bootcamp Prep</div></li>
        <li> <div> Jumpstart</div></li>
        <li> <div> Online</div></li>
        <li> <div> Marketing</div></li>
        <li> <div> Sales</div></li>
        <li> <div> TalentMatch</div></li>
        <li> <div> Alumni</div></li>
        <li> <a href="#"> All</a></li>
    </ul>

</form>

</header>